@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints: 

Telas pequenas (celulares...): max-min 600px;
Telas medias (tablets...): min 768px;
Telas maiores (laptops, desktop...): min 992px;
Telas muito grandes (tv...): min 1200px;

*/

@media print { /* desnecessário pois não imprime */
    body{ 
        font-family: 'Courier New', Courier, monospace;
    }

    main > h1 {
        text-shadow: none;
        color: black;
    }

    main {
        border: 2px solid black;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#cell {display: none;}
    img#pc {display: none;}
    img#imp {display: none;}
    img#tv {display: none;}
    img#tablet {display: block;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#cell {display: none;}
    img#pc {display: block;}
    img#imp {display: none;}
    img#tv {display: none;}
    img#tablet {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#cell {display: none;}
    img#pc {display: none;}
    img#imp {display: none;}
    img#tv {display: block;}
    img#tablet {display: none;}
}